<header class="container border-bottom <%= classes %>">

	<%= partial "partials/bekannt-aus" %> 

	<%= partial "partials/search" %>

	<%= partial "partials/utility-nav" %>

    <span class="logo">Logo</span>

    <%= partial "partials/top-nav" %>
  
</header>

