---	
title: Prototyping Template
---

<div class="container">

	<%= partial "partials/breadcrumbs" %>

	<div class="container">

	<!-- Typography hierarchy -->
	<h1>Title</h1>

	<h2>Sub Title</h2>

	<%= partial "partials/side-nav" %>

	<!-- Full width hero banner -->

	<%= partial "partials/feature-banner" %>

	<%= partial "partials/drop-down" %>	

	<!-- Thumbnails -->

	<%= partial "partials/thumbs-row-of-2", locals: { classes: "with-caption" }  %>

	<%= partial "partials/thumbs-row-of-3" %>

	<%= partial "partials/thumbs-row-of-4" %>

	<%= partial "partials/thumbs-row-of-6" %>	

	<div class="panel">
		<p><%= lorem.paragraphs 3 %></p> <!-- Automatically creates 3 paragraphs of Lorem. No breaks, just one block -->
	</div>

	<!-- Paragraph: change numberic value to generate different number of paras -->
	<p><%= lorem.paragraphs 3 %></p>


	<!-- Block quote with citation -->
	<blockquote>
		<p><%= lorem.sentence %></p>
		<footer>
			<cite><a href="https://speakerdeck.com/bermonpainter/rapid-prototyping-with-sass-compass-slim-and-middleman">Repsonsive Prototyping</a></cite>
		</footer>
	</blockquote>

</div>
